article p {
    font-size: 13px;
}
article h3 {
    font-size: 27px;
}

body {
    /* Image from Matthew Clark Photography & Design, https://www.flickr.com/photos/digital_rebel_xt/72224228/ */
    background: url(/img/bg1.jpg) no-repeat center center fixed; 
    background-size: cover;
    color: #C1CDCD;
}

.button-desc {
    font-style: italic;
    text-align: center;
    height: 3em;
}

.container {
    background-color:rgba(0,0,0,0.85);
    padding: 1em 3em;
}

.day-chooser, .threshold-chooser, .tod-chooser {
    width: 100%;
}

dd {
    margin-left: 2em;
}

dt {
    font-weight: bold;
}

footer {
    padding-top: 1em;
    background-color: #222;
    padding-bottom: 1em;
}

h1, h2, h3, h4, h5, h6 {
    color: #C1CDCD;
}

#page_title {
    font-size: 38.5px !important;
    color: 
}

.post-domain {
    font-size: 50%;
    color: #777;
}

.post-title {
    margin-bottom: 0px;
}
