article p {
    font-size: 13px;
}
article h3 {
    font-size: 27px;
}

body {
    /* Image from Matthew Clark Photography & Design, https://www.flickr.com/photos/digital_rebel_xt/72224228/ */
    background: url(/img/bg1.jpg) no-repeat center center fixed; 
    background-size: cover;
    color: #C1CDCD;
}

.button-desc {
    font-style: italic;
    text-align: center;
    height: 3em;
}

.container {
    background-color:rgba(0,0,0,0.85);
    padding: 1em 3em;
}

.day-chooser, .threshold-chooser, .tod-chooser {
    width: 100%;
}

#page_title {
    font-size: 38.5px !important;
    color: #C1CDCD;
}

.post-domain {
    font-size: 50%;
    color: #777;
}

.post-title {
    margin-bottom: 0px;
}
