{{> header}}

<h2>About</h2>

<p>So you found Hacker News and think it's pretty nifty. Only problem is it's very distracting- all that new stuff all the time! You don't want to be tempted to check it every waking moment of the day!</p>

<p>You've tried <a href="http://www.daemonology.net/hn-daily/">HN Daily</a>- it's great that it limits how many stories distract you, but you're still distracted more often than you need.</p>

<p><a href="/">HN Weekly</a> gives you the best of Hacker News once a week, on the day of your choosing. Plow through your side projects six days a week, and save HN for your Friday evening in. Or whenever.</p>

<p>All the fun, now less distracting.</p>

<hr>

<h2>FAQ</h2>

<dl>
    <dt>I want even fewer distractions! I want filters and stuff!</dt>
    <dd>HN Weekly puts out an RSS feed that you can plug into the <a href="http://newsblur.com">Newsblur</a> RSS reader. Newsblur lets you train it with what you do and don't like to see in feeds, so you never have to see stories with keywords you don't like</dd>

    <dt>Not good enough! I want more!</dt>
    <dd>HN weekly is <a href="https://github.com/spiffytech/hn-weekly">open source</a> and if you know a little bit of JavaScript, it's really easy to host your own copy and apply your own filters to HN Weekly.</dd>
</dl>

{{> footer}}
