{{> header}}

<p>So you found Hacker News and think it's pretty nifty. Only problem is it's very distracting- all that new stuff all the time! You don't want to be tempted to check it every waking moment of the day!</p>

<p>So you poke around the Internet and find <a href="http://www.daemonology.net/hn-daily/">HN Daily</a>. It gives you the top 10 posts every day. Great! Now Hacker News will only distract you once a day, and with only a handful of stories! Just what you need!</p>

<p>That suits your for a while... until you realize those stories always come in the evening, when you're supposed to be working on that side project. And you find yourself refreshing your RSS reader every day at midnight UTC waiting for HN daily to refresh, instead of being productive.</p>

<p>That's no good! You want to read these interesting articles, and keep up with the tech world, but you don't want it to be a distraction! What to do?</p>

<p style="font-size: 2em;">Enter HN Weekly</p>

<p>HN Weekly gives you the best of Hacker News once a week, on the day of your choosing. Plow through your side projects six days a week, and save HN for your Friday evening in. Or whenever.</p>

<p>All the fun, now less distracting.</p>

{{> footer}}
