<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:atom="http://www.w3.org/2005/Atom">

<channel>
        <title>HN Weekly</title>
        <description>Weekly digest of the best Hacker News posts</description>
        <link>http://hnweekly.spiffyte.ch</link>
        <ttl>1800</ttl>
 
        {{#posts}}
            <item>
                    <title>({{points}}) {{title}} - {{domain}}</title>
                    <description>
                        <![CDATA[
                        <p><a href="{{url}}">{{title}}</a> - {{domain}}</p>
                        <p>Submitted by {{username}} on {{rss_date}}</p>
                        <p><a href="{{permalink}}">{{num_comments}} comments</a></p>
                        ]]>
                    </description>
                    <link>{{permalink}}</link>
                    <guid>{{permalink}}</guid>
                    <pubDate>{{rss_date}}</pubDate>
                    <dc:creator>{{username}}</dc:creator>
            </item>
        {{/posts}}
 
</channel>
</rss>
