    </div> <!-- /container -->

    <footer>
        <div class="navbar navbar-inverse">
            <div class="navbar-inner">
                <p>Open source on <a href="https://github.com/spiffytech/hn-weekly">Github</a></p>
            </div>
        </div>
    </footer>

    <script src="js/zurb/foundation.min.js"></script>
    <script src="js/ICanHaz.min.js"></script>
    <script src="js/spin.js"></script>
    <script src="js/main.js"></script>

    <script>
        var _gaq=[['_setAccount','{{ga_tracking_code}}'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
</body>
</html>
