    </div> <!-- /container -->

    <footer>
        <p>Open source on <a href="https://github.com/spiffytech/hn-weekly">Github</a></p>

        <p><a href="mailto:{{contact_address}}">Email me</a></p>
    </footer>

    <script src="js/zurb/foundation.min.js"></script>
    <script src="js/ICanHaz.min.js"></script>
    <script src="js/spin.js"></script>
    <script src="js/main.js"></script>

    <script>
        var _gaq=[['_setAccount','{{ga_tracking_code}}'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>

    <script>
        jQuery(document).ready(function() {
            $(document).foundationTopBar();

            /* Dolphin browser hates background-attachment: fixed
            But there's no way to identify the Dolphin browser specifically
            */
            if(navigator.userAgent.match(/Android/)) {
                jQuery("body").css("background-attachment", "scroll");
            }
            });
    </script>
</body>
</html>
