    </div> <!-- /container -->

    <footer>
        <p>Open source on <a href="https://github.com/spiffytech/hn-weekly">Github</a></p>
    </footer>

    <script src="js/vendor/bootstrap.min.js"></script>
    <script src="js/ICanHaz.min.js"></script>
    <script src="js/spin.js"></script>
    <script src="js/main.js"></script>

    <script>
        var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
</body>
</html>
