<html>
<head>
    <link rel="alternate" type="application/rss+xml" href="/feed.xml" title="HN Weekly">
</head>
<body>

    {{#posts}}
        <article>
            <header>
                <a href="{{url}}">{{title}}</a>
            </header>
            <p>
                {{points}} Points 
                || <a href="{{permalink}}">{{num_comments}} Comments</a> 
                || Created on {{create_ts}}</p>
        </article>
    {{/posts}}

</body>
</html>
